.App {
  width: 100vw;
  height: 100vh;
 }

 body{
  padding: 0;
  margin: 0;
 }

.Sidebar{
/* height: 100%;
width: 260px;
background-color: rgb(0, 21, 41); */
position: fixed;
top: 0; /* Fixed at the top of the viewport */
bottom: 0; /* Take the full height of the viewport */
width: 260px;
background-color: rgb(0, 21, 41);
overflow-y: auto;
overflow-x: hidden;
max-height: 100vh;
}
 
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  width:100%;
  height: 70px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #292846;
}

.SidebarList #active{
  background-color: #292846;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}
