/* ChatLayout.css */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent the container from scrolling */
}

.sidebar {
  flex: 0 0 15%;
  background-color: rgb(0, 21, 41);
  padding: 20px;
  overflow-y: auto;
}

.upload-button {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border: 1px dashed #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
  color: white;
  margin-bottom: '15px';
}

.new-chat-button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  /* background-color: #e81a1a; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-values {
  margin-top: 10px;
}

.button-values p {
  margin: 5px 0;
}

.pdf-viewer {
  flex: 0 0 45%;
  overflow-y: hidden;
  background-color: #fff; /* Optional background color for the PDF viewer */
}

.chat {
  flex: 0 0 40%;
  color: w;
  background-color: rgb(0, 21, 41);
  padding: 20px;
  overflow-y: auto;
}
.uploaded-pdf-button {
  color: white;
  background-color: #1a73e8; /*Default background color for the PDF buttons
  /* background-color: #e81a1a; */
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px; /* Adjust font size as needed */
}

/* Add styles for the currently selected PDF button */
.selected-pdf-button {
  background-color: #66ccff; /* Light blue background color for the selected PDF button */
}

.pdf-info {
  display: flex;
  align-items: center;
}

.delete-pdf-button {
  color: red;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}


